body {
  padding-top: 20px; }

.mosaic {
  background-color: #3a3a3a;
  border: 1px solid #3a3a3a;
  width: 442px;
  overflow: hidden;
  position: relative;
  margin-top: 10px;
  list-style-type: none; }

.mosaic--overlay {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6); }

.mosaic__element {
  float: left;
  padding: 1px;
  background-color: #3a3a3a;
  width: 110px;
  height: 110px; }
  .mosaic__element img {
    width: 108px;
    height: 108px; }
    .mosaic__element img.--to-expand {
      position: absolute;
      z-index: 999999; }
    .mosaic__element img.drop-shadow {
      box-shadow: 0px 0px 32px 12px rgba(0, 0, 0, 0.58); }

.mosaic-names-list {
  list-style-type: none; }
  .mosaic-names-list .mosaic-names-list__item a {
    display: block;
    padding: 10px 5px; }
